.khan__buy-link {
	margin: 0;
	padding: 0;
	line-height: 42px;
	font-size: 30px;
	font-weight: normal;
	color: #2f80ed;
	position: absolute;
	top: 0;
	left: 668px;
	text-align: left;

}

.khan__buy-link::after {
	content: " \2192";
}